  	body {
    background-image:url("https://img5.goodfon.com/original/1920x1080/6/84/les-derevia-osen-digital-painting.jpg");}
  	
    #title {
   		  position:fixed;
    		top:0px;
    		left:0px; 
    		padding:10px;
    		margin:auto;
    		width:100%;
    		background-color:#B0704F;
    		text-align:center; 
    		z-index:1;
    		font-family: 'DehutiAltItalic'; 
    		font-weight: normal; 
    		font-style: normal; 
    		font-size:40px;}
   .row{
     position:relative;
     margin-left:20%;
     margin-right:20%;
     margin-bottom:0.2%}

  .white{
    text-align:center;    
     border: 1px solid black;
     width: 10%;
     height: 60px;
     background-color:white;
     float:left;}
  .black{
    text-align:center;
     border: 1px solid black;
     width: 10%;
     height: 60px;
     background-color:#787878;
     float:left;}

  .clear{
    clear:both;}

  #footer {
    text-align:center;
    border:solid 1px;
    padding: 10px;
    width: 100%;
    background-color:#B0704F;
    margin: -10px;}
  #container {
    width:100%;
    text-align:center;
    margin-top:20%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:15%;}
