  	body {
    		background-image:url("https://img5.goodfon.com/original/1920x1080/6/84/les-derevia-osen-digital-painting.jpg");
		padding: 0 15% 0 15%;}
  	#title {
   		position:fixed;
    		top:0px;
    		left:0px; 
    		padding:10px;
    		margin:0px;
    		width:100%;
    		background-color:orange;
    		text-align:center; 
    		z-index:10;
    		font-family: 'DehutiAltItalic'; 
    		font-weight: normal; 
    		font-style: normal; 
    		font-size:36px;}
	.row{
 		position:relative;
 		margin-left:10%;
 		margin-right:10%;}
	h2 {
		padding: 12px;
		line-height: 2em;}
	p {
        	font-family: 'DancingScriptRegular';
        	font-weight: normal;
        	font-style: normal;
        	font-size: 200%;}
