#upper {
  text-align: center;
}
#down {
  text-align: center;
  padding-bottom: 2.5rem;
}
#personalized {
  text-align: center;
}
body {
  background: rgb(33, 31, 30);
  background: -moz-radial-gradient(
    circle,
    rgba(33, 31, 30, 1) 60%,
    rgba(48, 82, 110, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(33, 31, 30, 1) 60%,
    rgba(48, 82, 110, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(33, 31, 30, 1) 60%,
    rgba(48, 82, 110, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#211f1e",endColorstr="#30526e",GradientType=1);
}
h1,
h2,
h3 {
  text-align: center;
  color: white;
}
label {
  color: white;
}
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}
