#newImage {
  border-style: solid;
  border-width: 10px;
  border-color: black;
}
body {
  text-align: center;
  color: #064c45;
  background: rgb(19, 18, 18);
  background: -moz-linear-gradient(
    90deg,
    rgba(19, 18, 18, 1) 0%,
    rgba(10, 43, 45, 1) 50%,
    rgba(19, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(19, 18, 18, 1) 0%,
    rgba(10, 43, 45, 1) 50%,
    rgba(19, 18, 18, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(19, 18, 18, 1) 0%,
    rgba(10, 43, 45, 1) 50%,
    rgba(19, 18, 18, 1) 100%
  );
}
#fandb {
  padding: 5px;
}
h1,
h2 {
  color: #f44336;
  text-shadow: 2px 2px 10px black;
}
button {
  font-size: 16px;
  background-color: #f44336;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  padding: 4px 28px;
}
button:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.24),
    0 10px 20px 0 rgba(0, 0, 0, 0.24);
}
footer {
  position: fixed;
  text-align: left;
  bottom: 0;
  width: 100%;
}
